<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-control" content="private, must-revalidate" />
<title>flash无刷新多图片上传</title>
<script type="text/javascript">
	var path='__STYLE__';
	var url='__URL__';
</script>
<script type="text/javascript" src="__PUBLIC__/swf_upload/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/swf_upload/js/swfupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/swf_upload/js/handlers.js"></script>
<link href="__PUBLIC__/swf_upload/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
		var swfu;
		window.onload = function () {
			swfu = new SWFUpload({
				upload_url: "__URL__/uploadImg",
				post_params: {"PHPSESSID": "<?php echo session_id();?>"},
				file_size_limit : "2 MB",
				file_types : "*.jpg;*.png;*.gif;*.bmp",
				file_types_description : "JPG Images",
				file_upload_limit : "100",
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,
				button_image_url : "__PUBLIC__/swf_upload/images/upload.png",
				button_placeholder_id : "spanButtonPlaceholder",
				button_width: 113,
				button_height: 33,
				button_text : '',
				button_text_style : '.spanButtonPlaceholder { font-family: Helvetica, Arial, sans-serif; font-size: 14pt;} ',
				button_text_top_padding: 0,
				button_text_left_padding: 0,
				button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
				button_cursor: SWFUpload.CURSOR.HAND,			
				flash_url : "__PUBLIC__/swf_upload/swf/swfupload.swf",
				custom_settings : {
					upload_target : "divFileProgressContainer"
				},				
				debug: false
			});
		};
	</script>

</head>
<body>

	<div style="width: 540px; height: auto; border: 1px solid #e1e1e1; font-size: 12px; padding: 10px;">
		<span id="spanButtonPlaceholder"></span>
		<div id="divFileProgressContainer"></div>
		<div id="thumbnails">
			<ul id="pic_list" style="margin: 5px;"></ul>
			<div style="clear: both;"></div>
		</div>
	</div>
	<input type="hidden" name="s" id="" value=""/>
	<input type="submit" id="sub" value="提交"  />
	

<script type="text/javascript">
//获得到图片信息
$(function(){
    $('#sub').click(function(){
        var pic=$(".content");
        var p=[];

        for(var i=0;i<pic.length;i++){
            p[i]=pic[i].src;
        }

        if(p!=''){
        	$.post("{:U('Link/index')}", {'ids':p}, function(data){
                  alert(data);
      
                });
        }
        
    })
})


</script>
</body>
</html>