<include file="Public:header" />
<script type="text/javascript" src="__PLUGIN__/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/*设置状态*/
function setStatus(id, status) {
	if(2==status){
		if(!confirm('确定执行删除操作吗?')){
			return false;
		}
	}
	
	if (!id || id.length == 0) {
		return alert("请选择一条记录");	
	}
	2==status?$('#myform').attr('action', "{:U('del')}"):$('#myform').attr('action', "{:U('state')}" );	
	$('#state').val(status);
	$('#myform').submit();	
}	
	/*排序*/
	function setSort() {
		$('#myform').attr('action', "{:U('Advert/sort')}");
		$('#myform').submit();
	}
</script>
</head>
<body>

	<div class="subnav">
		<div class="content_menu ib_a blue line_x">
			<a class="add fb J_showdialog" href="{:U('edit')}">
			   <em>添加</em>
			</a>
		</div>
	</div>

	<div class="pad_lr_10">
		<form action="{:U('index')}" method="get">
			<table width="100%" cellspacing="0" class="search_form">
				<tbody>
					<tr>
						<td>
							<div class="explain_col">
								<select name="posik">
								<option value="0">选择广告位</option>
								  <volist name="posi" id="vo">
								    <option value="{$key}" <if condition="$posik eq $key">selected</if>>{$vo}</option>
								  </volist>
								</select>
								<input type="submit" name="search" class="btn" value="搜索" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>



		<div class="J_tablelist table_list">
			<form action="{:U('Doc/index')}" id="myform">
				<input type="hidden" name="state" id="state" value="1">
				<table width="100%" cellspacing="0">

					<thead>
						<tr>
							<th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>										
							<th align="left">广告标题</th>
							<th align="left">广告位置</th>
							<th>广告图片</th>
							<th>排序</th>
							<th>添加时间</th>
							<th>操作</th>
						</tr>
					</thead>


					<tbody>

						<volist name="list" id="vo">
						<tr>
							<td align="center"><input type="checkbox" name='id[]' class="J_checkitem" value="{$vo['id']}"></td>						
							<td>
								{$vo['title']}
							</td>
							<td>
							     {$posi[$vo['posi']]}
							</td>
							<td align="center">
							   <a href="{$vo['pic']}" target="_blank" title="点击查看详情">
							    <img src="{$vo['pic']}" width="140" height="30">
							   </a>
							</td>
							<td align="center">
								<input type="text" style="text-align: center;" class="input-text" size="8" name="sort[{$vo['id']}]" value="{$vo['sort']}">
							</td>
							<td align="center">{$vo.time|date='Y-m-d',###}</td>							
							<td align="center">
								
							    <a href="{:U('Advert/edit',array('id'=>$vo['id']))}" title="点击修改">修改</a>
								|
								<if condition="$vo['state'] eq 1"> 
								  <a href="{:U('Advert/state',array('id'=>$vo['id'],'state'=>0))}" title="点击隐藏">显示</a>
								<else /> 
								  <a href="{:U('Advert/state',array('id'=>$vo['id'],'state'=>1))}" title="点击显示"><font color="red">隐藏</font></a> 
								</if> |
								<a href="{:U('Advert/del',array('id'=>$vo['id']))}" title="点击删除">删除</a>
							</td>
						</tr>
						</volist>

					</tbody>
				</table>
				</form>
		</div>

		<div class="btn_wrap_fixed">
            <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">全选/取消</label>
            <input type="button" value="批量显示" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 1)"/>  
            <input type="button" value="批量隐藏" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 0)"/>
            <input type="button" value="批量删除" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 2)"/>	                        			
			<input type="button" value="排序"  title="排序中置顶优先，其次手动排序，再次id desc" class="btn" onclick="setSort()" />
			
			<div id="pages">{$page}</div>
		</div>


<include file="Public:footer" />
<script type="text/javascript" src="__JS__/listTable.js"></script>
<script>
$(function(){
	$('.J_tablelist').listTable();
});
</script>		