<include file="Public:header" />
<script type="text/javascript" src="__PLUGIN__/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	/*排序*/
	function setSort() {
		$('#myform').attr('action', "{:U('sort')}");
		$('#myform').submit();
	}
	/*设置状态*/
	function setStatus(id, status) {
		if(2==status){
			if(!confirm('确定执行删除操作吗?')){
				return false;
			}
		}
		
		if (!id || id.length == 0) {
			return alert("请选择一条记录");	
		}
		
		2==status?$('#myform').attr('action', "{:U('del')}"):$('#myform').attr('action', "{:U('state')}" );
		
		$('#state').val(status);
		$('#myform').submit();	
	}	
</script>
</head>
<body>

	<div class="subnav">
		<div class="content_menu ib_a blue line_x">
			<a class="add fb J_showdialog" href="{:U('edit')}">
			   <em>添加</em>
			</a>
		</div>
	</div>

	<div class="pad_lr_10">


		<form action="{:U('index')}" method="get">		
			<table width="100%" cellspacing="0" class="search_form">
				<tbody>
					<tr>
						<td>
							<div class="explain_col">
								课程名称
								<input name="title" type="text" size="13" class="input-text Wdate" value="{$title}">
								讲师名称
								<input name="teacher" type="text" size="13" class="input-text Wdate" value="{$teacher}">								
								<input type="submit" name="search" class="btn" value="搜索" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	    </form>


		<div class="J_tablelist table_list">
			<form action="{:U('index')}" id="myform">
				<input type="hidden" name="state" id="state" value="1">
				<table width="100%" cellspacing="0">

					<thead>
						<tr>
							<th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>												
							<th align="left">课程名称</th>
							<th align="left">讲课老师</th>
							<th align="left">类型</th>
							<th align="left">摘要</th>						
							<th>排序</th>
							<th>添加时间</th>							
							<th>操作</th>
						</tr>
					</thead>


					<tbody>
					                        
						<volist name="list" id="vo">
						<tr>
							<td align="center"><input type="checkbox" name='id[]' class="J_checkitem" value="{$vo['id']}"></td>													
							<td>
								<if condition="$vo['top'] eq 1"><font color="red">(推荐)</font></if>
								{$vo['title']}
							</td>
							<td>{$vo['teacher']}</td>
							<td>{$ary[$vo['sid']]}</td>
							<td>
							     {:subs($vo['info'],10)}
							</td>							 
							<td align="center">
								<input type="text" style="text-align: center;" class="input-text" size="8" name="sort[{$vo['id']}]" value="{$vo['sort']}">
							</td>
							<td align="center">{$vo['time']|date='Y-m-d',###}</td>							
							<td align="center">								
							    <a href="{:U('edit',array('id'=>$vo['id']))}" title="点击修改">修改</a>
								|
								<if condition="$vo['state'] eq 1"> 
								  <a href="{:U('state',array('id'=>$vo['id'],'state'=>0))}" class="J_confirmurl" title="点击禁用">启用</a>
								<else /> 
								  <a href="{:U('state',array('id'=>$vo['id'],'state'=>1))}" class="J_confirmurl" title="点击启用"><font color="red">禁用</font></a> 
								</if>
								 |
								<a href="{:U('del',array('id'=>$vo['id']))}" class="J_confirmurl" onclick="javascript:return confirm('确认删除该链接吗?');" title="点击删除">删除</a>
								
							</td>
						</tr>
						</volist>

					</tbody>
				</table>
				</form>
		</div>

		<div class="btn_wrap_fixed">
            <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">全选/取消</label>
            <input type="button" value="批量启用" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 1)"/>  
            <input type="button" value="批量禁用" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 0)"/>
            <input type="button" value="批量删除" class="btn" onclick="setStatus($.checkBoxValue('id[]'), 2)"/>			
			<input type="button" value="排序" class="btn" onclick="setSort()" />
			
			<div id="pages">{$page}</div>
		</div>


<include file="Public:footer" />
<script type="text/javascript" src="__JS__/listTable.js"></script>
<script>
$(function(){
	$('.J_tablelist').listTable();
});
</script>		