<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
<footer class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2016
            <strong>xiexiang</strong>
            开发出品
        </div>


        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">

           <i class="fa-binoculars"></i> 地址：重庆市渝北区大竹林互联网产业园

        </div>

    </div>

</footer>
</div>

</div>

<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>


<!-- Bottom Scripts -->
<script src="__PUBLIC__/Index/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Index/js/TweenMax.min.js"></script>
<script src="__PUBLIC__/Index/js/resizeable.js"></script>
<script src="__PUBLIC__/Index/js/joinable.js"></script>
<script src="__PUBLIC__/Index/js/xenon-api.js"></script>
<script src="__PUBLIC__/Index/js/xenon-toggles.js"></script>


<!-- Imported scripts on this page -->
<script src="__PUBLIC__/Index/js/xenon-widgets.js"></script>
<script src="__PUBLIC__/Index/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="__PUBLIC__/Index/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="__PUBLIC__/Index/js/toastr/toastr.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="__PUBLIC__/Index/js/xenon-custom.js"></script>

</body>
</html>