<div class="page-container">

    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                <!-- logo -->
                <div class="logo">
                    <a href="/" class="logo-expanded">
                        <img src="__PUBLIC__/Index/images/logo@2x.png" width="80" alt="" />
                         &nbsp;&nbsp;&nbsp;<span style="color:#ccc;">欣阅图书管理系统</span>
                    </a>

                    <a href="dashboard-1.html" class="logo-collapsed">
                        <img src="__PUBLIC__/Index/images/logo-collapsed@2x.png" width="40" alt="" />
                    </a>
                </div>

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>
                </div>
            </header>



            <ul id="main-menu" class="main-menu">
                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
               <volist name="menu_list_nav" id="v">
                <li  <if condition="$now_farent_id eq $v['id']">class="active opened active"</if>>
                    <a href="dashboard-1.html">
                        <i class="{$v['icon']}"></i>
                        <span class="title">{$v['title']}</span>
                    </a>

                        <ul>
                            <volist name="v['child']" id="vo">
                            <li  <if condition="$now_nav eq $vo['id']">class="active"</if>>
                                <a href="{$vo['path']}?nav={$vo['id']}">
                                    <span class="title">{$vo['title']}</span>
                                </a>
                            </li>
                            </volist>
                        </ul>
                </li>
                </volist>

            </ul>

        </div>

    </div>