<include file="Public:header" />
<script type="text/javascript" src="__PLUGIN__/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PLUGIN__/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__PLUGIN__/artDialog/plugins/iframeTools.source.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/attachment.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/comment/webscan6.css">
	<link rel="stylesheet" href="__PUBLIC__/comment/base.css">
</head>
   
<body>  


<div class="subnav">
  <!--  <h1 class="title_2 line_x"><empty name="info">添加<else/>修改</empty>说说</h1>-->
</div>

<div class="pad_lr_10" >

	<div class="content" style="text-align:center;">
		 <p>生来彷徨</p>
         <p>演唱：汪峰</p>

<p>每天走在疯狂逐梦的大街上</p>
<p>我们精神褴褛却又毫无倦意</p>
<p>徘徊着寻找着那虚空的欢愉</p>
<p>奔波着抗争着那无常的命运</p>

<p>朋友啊 这生活会把你的心伤烂</p>
<p>可它从来就不会有一丝怜悯</p>
<p>再也别象个傻瓜一样的哭了</p>
<p>因为象我们这样的人生来彷徨</p>

<p>传真机到炼钢厂有一万光年</p>
<p>那只是我们失梦之路的起点</p>
<p>妈妈你善良的孩子还没放弃</p>
<p>他想在今夜的街上爱到死去</p>

<p>朋友啊 这世界会将你的梦破败</p>
<p>而它从来就不会有一丝同情</p>
<p>再也别象个疯子一样的拼了</p>
<p>因为象我们这样的人生来彷徨</p>

<p>路上散落着花朵般受伤的英雄</p>
<p>如同我们一起挣扎着的那些片段</p>
<p>明天我们是否活着却依然不在</p>
<p>明天我们是否存在却迷惘依然</p>

<p>朋友啊 这生活会把你的骨折断</p>
<p>而它从来就只是在袖手旁观</p>
<p>不如象一块石头一样的滚吧</p>
<p>因为象我们这样的人生来彷徨</p>

<p>朋友啊 这世界会将你的爱破灭</p>
<p>而它从来就不会给一次拯救</p>
<p>不如让我们一起放任自流吧</p>
<p>反正象我们这样的人 生来彷徨</p> 	
	</div>



<div class="ld_pl" style="width:900px">
		<dl class="webscan_comemnt"><dd><span id="inputnums_text">还可以输入</span><strong style="color: #666666;font-family:Constantia,Georgia,Arial;font-size:20px;" id="inputnums">120</strong>字</dd></dl>
    <div class="ld_txt">
      <textarea name="content" id="content" rows="2" cols="20" style="border:1px #999 solid"></textarea>
      <input type="hidden" id="id_value" name="id_value" value="www.jwzcq.com"	/>
      <input type="hidden" id="comment_type" name="comment_type" value="4"	/>
    </div>
    <div class="ld_btn">
	  <span>&nbsp;<a href="" target="_blank">恶意网址举报</a></span>	  
	  <div class="captcha_span"><img id="img11" onClick="RefreshImage()" style="cursor:pointer;width:160px;height:40px;" src="{:U('Comment/code')}" /> 输入验证码:<input class="verificationcode_comment" name="yzm_comment" id="yzm_comment" type="text" value="" /> <input id="add_btn" class="comment_btn" type="button" value="发表评论" /></div>
	  
		<div class="commemt_infor"><span style="color:#FF0000; line-height:30px; padding-right:15px" id="comment_error"></span></div>
    </div>
	
    <div class="pl_list">    
	<div id="comments">
	234444444444444444
	</div>
	<div id="pagination" class="pages">
      <div class="pagination" id="pagination">234234324</div>
    </div>
  </div>

<script type="text/javascript" src="__PUBLIC__/comment/jquery.pagination.js"></script>
<script type="text/javascript" src="__PUBLIC__/comment/jquery.pinwheel-0.1.0.js" ></script>
<script>
var comment_token = '';
var isSendBtn = true;
$(document).ready(function(){
	ajax_get_comments(1,'www.jwzcq.com',4);
	$("#content").focus(function(){
		$("#comment_error").html("");
		$("#comment_error").css('color' ,'#FF0000');
	});
});	
//获取评论
function ajax_get_comments(pagenum,id_value,comment_type){
    if(comment_type == 4){
		id_value = encodeURIComponent(id_value);
	}
	if(!pagenum){
		pagenum = 1;
	}
  $.post("/comment/ajaxlist",{
		id_value:id_value,
		page:pagenum,
		comment_type:comment_type,
		yzm:"39b2e43604e82238cf32af395fd5e611",
		ignore:new Date().getTime()
		},
		function(data){
			comment_token = data.token;
			if($("#check_web_comment")){
				if(pagenum == 1){
					if(data.record_count > 0){
						if(comment_type == 4){
							$("#check_web_comment").html('查看此网站的评论');
						}else if(comment_type == 3){
							$("#check_web_comment").html('查看此漏洞的评论');
						}
					}else{
						if(comment_type == 4){
							$("#check_web_comment").html('对该网站进行评论');
						}else if(comment_type == 3){
							$("#check_web_comment").html('对该漏洞进行评论');
						}
					}
				}
			}
		var items_per_page = 20;
		$("#comment_totalnums_span").html(data.record_count);
		if(data.record_count == 0){
			return ;
			//data.record_count=1;
		}
		$("#pagination").pagination(data.record_count, {
			num_edge_entries: 2,
			num_display_entries: 5,
			prev_text:'<',
			next_text:'>',
			callback: pageselectCallback,
			items_per_page:items_per_page,
			current_page:(data.cur_page-1)
		});
		   
		var html_str='';    
		for(var i=0;i<data.comments.length;i++){
		    				html_str += '<dl class="plbg1 clearfix" id="dl_'+data.comments[i].comment_id+'"><dt><span class="louchen">'+data.comments[i].level+'楼</span><span style="line-height: 17px;padding-right: 10px;">'+data.comments[i].add_time+'</span><span style="font-weight: bold;color:#333;line-height: 17px">'+data.comments[i].user_name+'</span></dt>';			
						if(data.comments[i].isSiter == 1){
				html_str += '<dd><a ajax-href="/group/showuserpro/uid/'+data.comments[i].user_id+'/from/comment" class="loading_userpro"><img width="30" height="30" style="position: absolute; left: 10px; top: 6px;" src="'+data.comments[i].headlogo+'"></a><p>'+replaceTextarea1(data.comments[i].content)+'</p></dd></dl>';				
				
			}else{
				html_str += '<dd><img width="30" height="30" style="position: absolute; left: 10px; top: 6px;" src="'+data.comments[i].headlogo+'"><p>'+replaceTextarea1(data.comments[i].content)+'</p></dd></dl>';
			}
		}
	html_str +='';
	$("#comments").html(html_str);
	$('.loading_userpro').pinwheel();
	
	if(data.record_count <= items_per_page){
		$("#pagination").html("");
	}
},'json'
);
}

//分页回调函数

function pageselectCallback(page_index, jq){
	ajax_get_comments(page_index+1,'www.jwzcq.com',4);
	return false;
}
/*
function score(sco_action,id){
	$.post("/vul/score",{sco_action:sco_action,id:id},function(data){
		if(data && data.state == "ok"){
			if(data.action == "up"){
				$("#up_num").html(parseInt($("#up_num").html()) + 1);
			}else if(data.action == "down"){
				$("#down_num").html(parseInt($("#down_num").html()) + 1);
			}
		}else{
			alert(data.msg);
		}
	  },
	  "json");
}
*/
	$("#add_btn").click(function(){
		var content = $.trim($("#content").val());
		var id_value = $("#id_value").val();
		var comment_type = $("#comment_type").val();
		$("#comment_error").css('color' ,'#FF0000');
		if(content == "我来点评..."){
			$("#comment_error").html("请输入评论内容!");
			$("#comment_error").show();
			$("#content").css('border-color' ,'#FF0000');
			return false;			
		}
		if(content == ""){
			$("#comment_error").html("请输入评论内容!");
			$("#comment_error").show();
			$("#content").css('border-color' ,'#FF0000');
			return false;
		}
		if(!isSendBtn){
			$("#comment_error").html("已经超出字数限制!");
			$("#comment_error").show();
			$("#content").css('border-color' ,'#FF0000');
			return false;			
		}
		if($('#yzm_comment').length > 0){
			var yzm = $('#yzm_comment').val();
			if(yzm == ''){
				$("#comment_error").html("请输入验证码!");
				$("#comment_error").show();

				return false;				
			}
		}
		// $(this).attr('disabled',true).css("background-color",'#bbbbbb').css("border-color",'#bbbbbb');
		// $.post("/comment/ajaxadd",{content:content,id_value:id_value,comment_type:comment_type,yzm:yzm,token:comment_token},function(data){
		// if(data && data.state == "ok"){
		// 	//alert("评论成功,等待管理员审核");
		// 	ajax_get_comments(1,'www.jwzcq.com',4);
		// 	$("#comment_error").css('color' ,'green');
		// 	$("#comment_error").html("评论成功!");
		// 	points_tips_func_comment();
		// 	$("#content").val("");
		// 	$("#comment_error").show();
		// 	if($('#yzm_comment').length > 0){
		// 		RefreshImage();
		// 	}
		// 	if($('#yzm_comment').length > 0){
		// 		$('#yzm_comment').val('');
		// 	}
		// 	$("#add_btn").removeAttr("disabled").css("background-color",'#3FA156').css("border-color",'#1D7431');
		// 	//$("#comment_error").fadeOut(4000);
		// }else{
		// 	//alert(data.msg);
		// 	$("#comment_error").css('color' ,'#FF0000');
		// 	$("#comment_error").html(data.msg);
		// 	$("#comment_error").show();
		// 	//$("#comment_error").fadeOut(4000);
		// 	$("#add_btn").removeAttr("disabled").css("background-color",'#3FA156').css("border-color",'#1D7431');
		// }
	 //  },
	 //  "json");
      /**
      *这里执行AJAX的调用
      **/
   var content = $('#content').val(); 
   var str =""; 
      $.ajax({
      	  type:"POST",
      	  url: "{:U('Comment/get_ajax')}",
      	  data:"content="+content,
      	  dataType:"json",
      	  success:function(e){
      	  	alert(e);

      	  	// str+='<div class="pl_list"><div id="comments">'+e+'</div><div id="pagination" class="pages"><div class="pagination" id="pagination">'+2015+"-"+08+"-"+19+'</div></div></div>';

          //  $('.pl_list').append(str);
      	  }
      })
	});
</script>
<script>
$(function(){
    $("#content").focus(function(){
			$("#content").css('color' , '#333333');
			$("#content").css('border-color','#333333');
			if($("#content").val() == "我来点评..."){
				$("#content").val('');
			}
			to_limitInput();
		}).keyup(function(){
			to_limitInput();
		}).keydown(function(){
			to_limitInput();
		}).blur(function(){
			if($("#content").val() == ""){
				$("#content").css('color' , '#999999');
			}
		});
});
function to_limitInput(){
	var content = $("#content").val();
	content = $.trim(content);
    var maxNum = 120;
	var iLen = 0;		
	for (i = 0; i < content.length; i++) iLen += content.charAt(i).charCodeAt() > 255 ? 1 : 0.5;
	var retnums = Math.abs(maxNum - Math.floor(iLen));
	$("#inputnums").html(retnums);
	//if(retnums < 0)
	if((maxNum - Math.floor(iLen)) >= 0){
		isSendBtn = true;
		$("#inputnums_text").html('还可以输入');
		$("#inputnums").css('color' , '#666666');
	}else{
		$("#inputnums").css('color' , '#FF0000');
		$("#inputnums_text").html('已超出');
		isSendBtn = false;
	}
}
function to_deleteComment(id){
	if(id == "" || id == 0){
		return false;
	}
	if(!confirm('你确认要删除此楼评论吗?')){
		return false;
	}
	$.ajax({  	
			url : "/comment/delcommemt",
			type: 'POST',
			dataType:  'json',
			data:'id='+id,
			success: function(data){
				if(data.state == "yes"){
					$("#dl_"+id).remove();
				}else{
				
				}
			}
	});
}
</script>
<script type="text/javascript">
function RefreshImage()
{
	var imgsrc = $("#img11").attr("src");
	if(!imgsrc)
	{
		$("#img11").attr("src","/index/getcaptcha2");
	}
	
   var el =document.getElementById("img11");
   el.src=el.src+'?';  //这个特别重要
}
function replaceTextarea1(str){
	var reg=new RegExp("\n","g");
	str = str.replace(reg,"<br>");
	
	return str;
}
</script>

<include file="Public:footer" />