<include file="Public:header" />
<link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<include file="Public:nav" />

	<div id="memberArea">

		<include file="Public:left" />

		<div class="col-auto">

			<div class="col-1 ">
				<h5 class="title">修改登录密码</h5>
				<div class="content">
					<form method="post" action="{:U('editpwd')}" id="myform" name="myform">
						<table width="100%" cellspacing="0" class="table_form">
						
							<tr>
								<th width="100">原密码：</th>
								<td>
									<input name="password" value="" type="password" class="input-text" size="30">
								</td>
							</tr>
													
							<tr>
								<th width="100">新密码：</th>
								<td>
									<input name="newpwd" value="" type="password" class="input-text" size="30">
								</td>
							</tr>

							<tr>
								<th width="100">确认码：</th>
								<td>
									<input name="repwd" value="" type="password" class="input-text" size="30">
								</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<input name="dosubmit" type="submit" id="dosubmit" value="提交" class="button">
								</td>
							</tr>
						</table>
					</form>

				</div>
				<span class="o1"></span>
				<span class="o2"></span>
				<span class="o3"></span>
				<span class="o4"></span>
			</div>
		</div>

	</div>


	<include file="Public:footer" />