<include file="Public:header" />
<link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
</head>
<body>
<include file="Public:nav" />
   
	<div id="memberArea">
		
		<include file="Public:left" />
		
		<div class="col-auto">
			<div class="col-auto">
			
				<div class="col-1 ">
					<h5 class="title">收藏夹</h5>
					<div class="content">

						<ul class="title-list">
							<li>
								·
								<a href="index.php?m=content&c=index&a=show&catid=8&id=1"
									target="_blank">专家警告美国：日本若搞出核武器 扔给谁还不一定</a>
								<span>
									<em>2015-04-26 20:50:56</em>
									<a href="index.php?m=member&c=index&a=favorite&id=1">删除</a>
								</span>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
	</div>


	<include file="Public:footer" />