<include file = "Public:header"/>
<include file = "Public:nav_list"/>
<include file = "Public:top_nav"/>

        <!--内容-->

        <div class="row">
            <div class="col-sm-6">

                <div class="chart-item-bg">
                    <div id="pageviews-stats" style="height: 320px; padding: 20px 0;"></div>

                    <div class="chart-entry-view">
                        <div class="chart-entry-label">
                            Pageviews
                        </div>
                        <div class="chart-entry-value">
                            <div class="sparkline first-month"></div>
                        </div>
                    </div>

                    <div class="chart-entry-view">
                        <div class="chart-entry-label">
                            Visitors
                        </div>
                        <div class="chart-entry-value">
                            <div class="sparkline second-month"></div>
                        </div>
                    </div>

                    <div class="chart-entry-view">
                        <div class="chart-entry-label">
                            Converted Sales
                        </div>
                        <div class="chart-entry-value">
                            <div class="sparkline third-month"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>




<include file="Public:footer"/>
